
@{
    ViewBag.Title = "Agregar producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />

    <form method="post" action="@Url.Action("Add_producto", "Enc_Tienda")">

        <fieldset>
            <legend>Agregar Producto</legend>
            
                <table style="width:80%">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label accesskey="" style="text-align:left">Nombre </label>
                                <input      class="form-control" name="nombre_prod" style="width:90%" placeholder="Nombre producto">
                            </div>
                            <div class="form-group">
                                <label accesskey="" style="text-align:left">Precio ($x.xxx)</label>
                                <input class="form-control" name="precio_prod" style="width:90%">
                            </div>
                            <div class="form-group">
                                <label>Descripción</label><br />
                                <textarea   class="form-control" name="descripcion_prod" rows="3"    style="width:90%"></textarea> 
                            </div>
                        </td>   

                        <td>
                                <div class="form-group">
                                    <label>Categoría</label>
                                    @* primer campo es name "categoriaOferta" *@
                                    @Html.DropDownList("categoriaProducto", ViewBag.categoriaListName as SelectList, "Seleccione categoria")
                                </div>
                                <div class="form-group">
                                    <label>Sub categoría</label>
                                    @* primer campo es name "categoriaOferta" *@
                                    @Html.DropDownList("subCategoriaProducto", ViewBag.SubCategoriaListName as SelectList, "Seleccione sub categoria")
                                </div>
                                <div class="form-group">
                                        <label>Imagen</label>
                                        <input class="form-control-file" name="foto_prod" id="foto_prod" type="file">
                                </div>
                        </td>
                        
                    </tr>

                    <td><button type="button" class="btn btn-success" style="width:150px" onclick="location.href='@Url.Action("Adm_producto","Enc_tienda")'">Cancelar</button></td>

                    <td><button type="submit" class="btn btn-primary" style="width:150px; float:right">Agregar</button></td>
                    
                   
                </table>


           

</fieldset>
    </form>


    