
@{
    ViewBag.Title = "Modificar producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />

    <form method="post" action="@Url.Action("Metodo", "Controlador")">
        <fieldset>
            <legend>Modificar oferta</legend>
            
                <table style="width:80%">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label>Categoría</label>
                                @* primer campo es name "categoriaOferta" *@
                                @Html.DropDownList("categoriaOferta", ViewBag.categoriaListName as SelectList, "Seleccione categoría")
                            </div>
                            <div class="form-group">
                                <label>Sub categoría</label>
                                @* primer campo es name "categoriaOferta" *@
                                @Html.DropDownList("subCategoriaOferta", ViewBag.SubCategoriaListName as SelectList, "Seleccione sub categoria")
                            </div>
                            <div class="form-group">
                                <label accesskey="" style="text-align:left">Precio</label>
                                <input class="form-control" name="precio_prod" style="width:80%; " disabled>
                            </div>

                                
                        </td>
                        <td>
                            <div class="form-group">
                                <label accesskey="" style="text-align:left">Procentaje de descuento </label>
                                <input class="form-control" name="porcentaje_desc" style="width:90%" type="number">
                            </div>
                            <div class="form-group">
                                <label accesskey="" style="text-align:left">Precio Oferta</label>
                                <input class="form-control" name="precio_oferta" style="width:90%" disabled min="5" max="90">
                            </div>
                            <div class="form-group">
                                <label>Imagen</label>
                                <input class="form-control-file" name="foto_producto" type="file">
                            </div>
                        </td>   
                    </tr>

                    <td><button type="button" class="btn btn-success" style="width:150px" onclick="location.href='@Url.Action("Adm_oferta","Enc_tienda")'">Cancelar</button></td>

                    <td><button type="submit" class="btn btn-primary" style="width:150px; float:right">Guardar</button></td>
                    
                   
                </table>


           

</fieldset>
    </form>

    