
@{
    ViewBag.Title = "Agregar empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
@*El sergio es bacan*@

    <form method="post"action="@Url.Action("Add_empresas", "Administrador")">
        <fieldset>
            <legend>Agregar empresa</legend>

            <center>
                <div class="form-group">
                    <label accesskey="" style="text-align:left">Nombre empresa</label>
                    <input class="form-control" name="nombre" aria-describedby="emailHelp" placeholder="Nombre empresa">
                </div>
                <div class="form-group">
                    <label>RUT</label><br />
                    <input class="form-controlser" name="rut" placeholder="11.111.111" style="width:42%"><label>-</label>
                    <input class="form-controlser" name="dv" placeholder="1" style="width:7%">
                </div>
            </center>
            
            <table width="80%">
                <tr>

                    @*<td><button type="button" class="btn btn-success" style="width:150px" onclick="location.href='@Url.Action("Adm_empresas","Administrador")'">Cancelar</button></td>*@

                    <td><button type="submit" class="btn btn-primary" style="width:150px; float:right">Agregar</button></td>

                </tr>
            </table>




        </fieldset>
    </form>

    