@model SolucionOfertas.Models.EMPRESA

@{
    ViewBag.Title = "Modificar empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />


    <form>
        <fieldset>
            <legend>Modificar empresa</legend>
            
            <center>
                <div class="form-group">
                    <label accesskey="" style="text-align:left">Nombre empresa</label>
                    <input class="form-control" name="nombre" aria-describedby="emailHelp" value="@Model.NOMBRE">
                </div>
                <div class="form-group">
                    <label>RUT</label><br />
                    <input class="form-controlser" name="rut" value="@Model.RUT" style="width:42%"><label>-</label>
                    <input class="form-controlser" name="dv" placeholder="1" style="width:7%">
                </div>
            </center>

                  
                    <td><button type="button" class="btn btn-success" style="width:150px" onclick="location.href='@Url.Action("Adm_empresas","Administrador")'">Cancelar</button></td>

                    <td><button type="submit" class="btn btn-primary" style="width:150px; float:right">Guardar</button></td>
                    
                   
                </table>


           

</fieldset>
    </form>

    